
.about-intro-container {
    background-image:url('../../assets/svg/about-hero.svg');
    height:500px;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top right;
    width:100%;
    position: relative;
}
.about-intro-overlay {
    position:absolute;
    width:100%;
    height: 100%;
    background:transparent;
    display :flex;
    flex-direction: column;
    justify-content:center;
}
.about-overlay-text {
    padding:0 0 0 245px;
}
.about-overlay-text h2 {
    width: 530px;
    height: 188px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 105.2%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 0;
}
.about-overlay-text p {
    width: 506px;
    height: 47px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 153.68%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding:20px 0;
}
.about-intro-article {
    padding:100px;
}
.about-intro-article article p {
    width: 790px;
    /* height: 123px; */
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 152.7%;
    text-align: center;
    color: #000000;
    margin:0  auto;
}
.who-we-are-container {
    padding: 30px 150px;
    background:#037EC4;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    /* align-items:center; */
    height:500px;
}
.who-we-are-container img {
    width:70%;
    position:relative;
    top:40px;
}