
    .projects-card {
        background:#fff;
        transition: .5s;
    }
     .projects-card div:nth-child(2) {
         padding:10px;
        
     }
     .projects-card img {
         width:100%;
         /* object-fit:contain; */
     }
     .projects-card h4 {
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 127.18%;
        display: flex;
        align-items: center;
        text-transform: capitalize;    
        color: #000000;
        padding:10px 0;
        margin:0;
     }
     .projects-card p {
         width:100%;
         font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 147.68%;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #000000;
        padding:0;
        margin:0;
     }
     .projects-card a {
         width:100%;
         font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 147.68%;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #000000;
        padding:0;
        margin:0;
        text-decoration: none;
        padding: 20px 0;
     }
     .projects-card:hover {
        filter: drop-shadow(0px 4px 31px rgba(0, 0, 0, 0.16)); 
     }
 