

@media only screen and (min-device-width: 200px) and (max-device-width: 620px) and (-webkit-min-device-pixel-ratio: 1)  {
    .projects-intro-container {
        background-image:url('../../assets/svg/project-hero.svg');
        height:500px;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        width:100%;
        position: relative;
    }
    .projects-intro-overlay {
        position:absolute;
        width:100%;
        height: 100%;
        background:transparent;
        display :flex;
        flex-direction: column;
        justify-content:center;
    }
    .projects-overlay-text {
        padding:0 20px;
        text-align: center;
    }
    .projects-overlay-text h2 {
        width: 100%;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 105.2%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin: 0;
    }
    .projects-overlay-text p {
        width:100%;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 153.68%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        padding:10px 0;
    }
    .projects-page-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        list-style:none;
        margin: 0;
        padding:50px 20px;
    }
    
    
    
    .top-bar {
        height: 60px;
        background: #037DC4;
    }
    .projects-display-intro-container .projects-display-hero {
        background-image:url('../../assets/svg/projectdisplay-hero.svg');
        height:500px;
        width:100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .projects-display-intro-overlay-text {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:100%;
        padding:0 20px;
        text-align: center;
    }
    .projects-display-intro-overlay-text h2 {
        margin: 0;
        width: 100%;
        /* height: 126px; */
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 126.2%;
        display: flex;
        align-items: center;
        letter-spacing: -0.0025em;
        color: #FFFFFF;
        padding: 0;
        margin: 0;
    }
    .projects-display-intro-overlay-text p {
        width: 100%;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 153.68%;
        display: flex;
        align-items: center;
        justify-content:center;
        color: #FFFFFF;
        padding: 10px 0;
        margin: 0;
        justify-self: end;
    }
    .projects-display-intro-overlay-text span {
        width: 100%;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 153.68%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        text-align: center;
    }
    .date {
        margin-top: 0;
    }
    .project-display-article {
        padding: 50px 0;
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        gap:20px;
        align-items: center;
    }
    .project-display-article img {
        width: 100%;
        /* border:1px solid red; */
    }
    .project-display-article div {
        padding: 0 20px;
    }
    #top-post {
        padding: 0 20px;
    }
    #top-post p{
        width: 100%;
        /* height: x; */
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 161.68%;
        display: flex;
        align-items: center;
        justify-content:center;
        text-transform: capitalize;
        color: #000000;
        text-align: center;
        margin: 0;
    }
    #bottom-post {
        padding:0 20px;
    }
    #bottom-post p {
        width: 100%;
         font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 161.68%;
        display: flex;
        align-items: center;
        justify-content:center;
        text-transform: capitalize;
        color: #000000;
        text-align: center;
        margin: 0;
        /* padding: 0; */
    }
    .projects-header {
        display :flex;
        justify-content:space-between;
        align-items:center;
        padding:20px 0;
    }
    .projects-header h2 {
        height: 27px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 127.18%;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #FFFFFF;
    }
    .projects-header a {
        width:90%;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 13px;
        line-height: 127.18%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        text-decoration:none;
        position: absolute;
        bottom: 30px;
        right: 10px;
        left: 10px;
        margin:auto;
    }
    .projects-header a img {
        height:10px;
        margin-left:20px;
    }
    
    .show-more-container {
        display:flex;
        justify-content:center;
        padding: 100px 0;
    }
}



@media only screen and (min-device-width: 621px) and (max-device-width: 1000px) and (-webkit-min-device-pixel-ratio: 1) {

    .projects-intro-container {
        background-image:url('../../assets/svg/project-hero.svg');
        height:500px;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:center;
        width:100%;
        position: relative;
    }
    .projects-intro-overlay {
        position:absolute;
        width:100%;
        height: 100%;
        background:transparent;
        display :flex;
        flex-direction: column;
        justify-content:center;
    }
    .projects-overlay-text {
        padding:0 20px;
        text-align: center;
    }
    .projects-overlay-text h2 {
        width: 100%;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 105.2%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin: 0;
    }
    .projects-overlay-text p {
        width:100%;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 23px;
        line-height: 153.68%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        padding:10px 0;
    }
    .projects-page-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px ; 
        list-style:none;
        margin: 0;
        padding:50px 20px;
    }
    
    
    
    .top-bar {
        height: 60px;
        background: #037DC4;
    }
    .projects-display-intro-container .projects-display-hero {
        background-image:url('../../assets/svg/projectdisplay-hero.svg');
        height:500px;
        width:100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .projects-display-intro-overlay-text {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:100%;
        padding:0 20px;
        text-align: center;
    }
    .projects-display-intro-overlay-text h2 {
        margin: 0;
        width: 100%;
        /* height: 126px; */
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 126.2%;
        display: flex;
        align-items: center;
        letter-spacing: -0.0025em;
        color: #FFFFFF;
        padding: 0;
        margin: 0;
    }
    .projects-display-intro-overlay-text p {
        width: 100%;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 23px;
        line-height: 153.68%;
        display: flex;
        align-items: center;
        justify-content:center;
        color: #FFFFFF;
        padding: 10px 0;
        margin: 0;
        justify-self: end;
    }
    .projects-display-intro-overlay-text span {
        width: 100%;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 153.68%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        text-align: center;
    }
    .date {
        margin-top: 0;
    }
    .project-display-article {
        padding: 50px 0;
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        gap:20px;
        align-items: center;
    }
    .project-display-article img {
        width: 100%;
        /* border:1px solid red; */
    }
    .project-display-article div {
        padding: 0 20px;
    }
    #top-post {
        padding: 0 20px;
    }
    #top-post p{
        width: 100%;
        /* height: x; */
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 161.68%;
        display: flex;
        align-items: center;
        justify-content:center;
        text-transform: capitalize;
        color: #000000;
        text-align: center;
        margin: 0;
    }
    #bottom-post {
        padding:0 20px;
    }
    #bottom-post p {
        width: 100%;
         font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 161.68%;
        display: flex;
        align-items: center;
        justify-content:center;
        text-transform: capitalize;
        color: #000000;
        text-align: center;
        margin: 0;
        /* padding: 0; */
    }
    .projects-header {
        display :flex;
        justify-content:space-between;
        align-items:center;
        padding:20px 0;
    }
    .projects-header h2 {
        height: 27px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 127.18%;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #FFFFFF;
    }
    .projects-header a {
        width:90%;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 800;
        font-size: 16px;
        line-height: 127.18%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: -0.03em;
        color: #FFFFFF;
        text-decoration:none;
        position: absolute;
        bottom: 30px;
        right: 10px;
        left: 10px;
        margin:auto;
    }
    .projects-header a img {
        height:10px;
        margin-left:20px;
    }
    
    .show-more-container {
        display:flex;
        justify-content:center;
        padding: 100px 0;
    }
}

@media only screen and (min-device-width: 1001px) and (-webkit-min-device-pixel-ratio: 1) {

    .projects-intro-container {
        background-image:url('../../assets/svg/project-hero.svg');
        height:500px;
        background-repeat:no-repeat;
        background-size:cover;
        background-position:top right;
        width:100%;
        position: relative;
    }
    .projects-intro-overlay {
        position:absolute;
        width:100%;
        height: 100%;
        background:transparent;
        display :flex;
        flex-direction: column;
        justify-content:center;
    }
    .projects-overlay-text {
        padding:0 0 0 245px;
    }
    .projects-overlay-text h2 {
        width: 530px;
        height: 188px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 105.2%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin: 0;
    }
    .projects-overlay-text p {
        width: 506px;
        height: 47px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 153.68%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        padding:20px 0;
    }
    .projects-page-grid {
        padding:100px 150px;
    }
    .projects-page-grid ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        list-style:none;
        margin: 0;
        padding: 0;
    }
    
    .top-bar {
        height: 60px;
        background: #037DC4;
    }
    .projects-display-intro-container .projects-display-hero {
        background-image:url('../../assets/svg/projectdisplay-hero.svg');
        height:350px;
        /* width:100%; */
        background-repeat: no-repeat;
        background-size: contain;
    }
    .projects-display-intro-overlay-text {
        display:flex;
        align-items: center;
        justify-content: space-between;
        height:100%;
        padding:0 245px;
    }
    .projects-display-intro-overlay-text h2 {
        margin: 0;
        width: 510px;
        height: 126px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 126.2%;
        display: flex;
        align-items: center;
        letter-spacing: -0.0025em;
        color: #FFFFFF;
        padding: 0;
        margin: 0;
    }
    .projects-display-intro-overlay-text p {
        width: 102px;
        height: 22px;
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 153.68%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        padding: 0;
        margin: 0;
        justify-self: end;
    }
    .projects-display-intro-overlay-text span {
        /* width: 167px; */
        /* height: 22px; */
        font-family: Nunito Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 153.68%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }
    .date {
        margin-top: 60px;
    }
    .project-display-article {
        padding: 100px 150px;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap:5px;
        align-items: center;
    }
    .project-display-article img {
        width: 80%;
    }
    #top-post p {
        width: 512px;
        height: 541px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 161.68%;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #000000;
        padding: 0;
        margin: 0;
    }
    #bottom-post {
        width: 100%;
         font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 161.68%;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: #000000;
        grid-column: 1/3;
        margin: 0;
        padding: 0;
    }
    .show-more-container {
        display:flex;
        justify-content:center;
        padding: 100px 0;
    }
}